extends app

block TIDORY
  s_t3
    #index(
      x-data='{ sidebar: window.innerWidth >= 1280 }'
      class='flex flex-col xl:flex-row break-all h-full overflow-hidden')
      include views/Sidebar
      .main-content(class='flex-1 min-w-0 xl:ml-0 h-full overflow-y-auto relative')
        include views/Main
    include views/Indicator
    include views/Bottom
    include views/Loader

