extends app

block TIDORY
  s_t3
    #index(
      x-data='{ sidebar: window.innerWidth >= 1280 }'
      @resize.window='sidebar = window.innerWidth >= 1280 ? true : sidebar'
      class='flex flex-col xl:flex-row break-all h-full overflow-hidden')
      include views/Sidebar
      //- 노션 스타일: 사이드바 상태에 따라 메인 콘텐츠 확장 (fixed sidebar이므로 xl에서 왼쪽 마진 추가)
      .main-content(class='flex-1 min-w-0 h-full overflow-y-auto relative transition-all duration-300 xl:ml-s')
        include views/Main
    include views/Indicator
    include views/Bottom
    include views/Loader

