aside#bottom(
  x-data='bottom'
  class='flex justify-end px-4 w-full box-border fixed text-sm z-[9500] bottom-6 <s_if_var_sidebar>xl:w-c</s_if_var_sidebar>')
  .wrap(class='flex gap-x-2.5')
    //- 관리자용 글쓰기 버튼
    a#admin-edit-fallback.btn(href='/manage/newpost' title='글쓰기' style='display: flex;')
      span.txt 글쓰기
      i.ico(class='fa-solid fa-pen')

    a.top.btn(href='#hELLO')
      span.txt 상단으로
      i.ico(class='fa-solid fa-chevron-up')

