li#my-links.el
  //- h2.tit 링크
  ul.links(class='flex justify-center gap-x-6')
    s_link_rep
      li.link
        a.link(
          href='[##_link_url_##]'
          target='_blank'
          title='[##_link_site_##]'
          class='text-h-400 hover:text-h-800 dark:hover:text-h-200 transition-colors flex items-center justify-center')
          //- Icon Router 적용 (이미지/폰트 통합 처리)
          div(x-data='linkIconRouter' class='flex items-center justify-center')
            i.ico(:class='iconClass' :style='iconStyle' class='text-xl flex items-center justify-center')
