li#my-links.el
  //- h2.tit 링크
  ul.links(class='flex justify-center gap-x-6')
    s_link_rep
      li.link
        a.link(
          href='[##_link_url_##]'
          target='_blank'
          title='[##_link_site_##]'
          class='text-h-400 hover:text-h-800 dark:hover:text-h-200 transition-colors flex items-center justify-center')
          //- CSS ::before로 도메인별 아이콘 처리
          i.ico.fa-solid.fa-link(class='text-xl')

